<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated securitymodels -->
      <package
            uri="/final/metamodel/securitymodels.ecore"
            class="securitymodels.SecuritymodelsPackage"
            genModel="metamodels/securitymodels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated securitymodels -->
      <package
            uri="/final/metamodel/datamodels.ecore"
            class="datamodels.DatamodelsPackage"
            genModel="metamodels/securitymodels.genmodel"/>
   </extension>

</plugin>
