<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated relationaldb -->
      <package
            uri="/final/metamodel/relationaldb.ecore"
            class="relationaldb.RelationaldbPackage"
            genModel="metamodels/relationaldb.genmodel"/>
   </extension>

</plugin>
